# Django Çekirdek
Django==5.1.4
djangorestframework
djangorestframework-simplejwt
django-cors-headers

# PostgreSQL Sürücüsü (Kritik parça)
psycopg[binary]

# Real-time (WebSocket) ve Async
daphne
channels==4.1.0
channels-redis==4.2.1

# Diğer Yardımcılar
redis
python-decouple
gunicorn