name: docker-project

services:
  db:
    image: postgres:15
    container_name: docker-project-db-1
    volumes:
      - postgres_data:/var/lib/postgresql/data/ # Persist PostgreSQL data
    environment:
      POSTGRES_DB: realtimeboard
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root123
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: docker-image:latest
    container_name: docker-project-backend-1
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./apps:/app/apps        # apps dizinini mount et
      - ./core:/app/core        # core dizinini mount et
      - ./manage.py:/app/manage.py
      - ./requirements.txt:/app/requirements.txt
    ports:
      - "8000:8000"
    environment:
      POSTGRES_DB: realtimeboard
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root123
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      db:
        condition: service_healthy
    stdin_open: true
    tty: true

volumes:
  postgres_data:
